<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Requiem - 갤러리</title>
    <link rel="icon" th:href="@{/file/logo/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/commons.css}">
    <link rel="stylesheet" th:href="@{/css/board.css}">
    <script th:src="@{/js/commons.js}"></script>
    <script th:inline="javascript">
        window.IS_ADMIN = /*[[${#authorization.expression('hasRole(''ADMIN'')')}]]*/ false;
    </script>
    <script th:src="@{/js/board/paging.js}"></script>
    <script th:src="@{/js/board/gallery.js}"></script>
</head>
<body>
    <header th:replace="commons :: header"></header>

    <section>
        <div class="boardHeader">
            <h1 class="title1Text">GALLERY</h1>
            <button sec:authorize="hasRole('ADMIN')" class="btn purple" onclick="toggleImgform()">
                이미지 등록하기
            </button>
            <form id="imgForm" style="display: none;" onsubmit="event.preventDefault(); addImg();">
                <input id="title" name="title" type="text" placeholder="이미지 제목">
                <input id="artist" name="artist" type="text" placeholder="작가">
                <input id="img" name="img" type="file" accept="image/png,image/jpeg,image/jpg">
                <button class="btn purple" type="submit"> 이미지 추가 </button>
            </form>
        </div>
        <div class="pictureList"></div>
        <div th:replace="commons :: pages"></div>
    </section>

    <nav th:replace="commons :: nav"></nav>

    <footer th:replace="commons :: footer"></footer>

    <div class="modalOverlay" style="display: none;" onclick="closeModal()">
        <img class="imgModal">
    </div>

    <div th:replace="commons :: toast"></div>
</body>
</html>