<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.infected_requiem.requiem.repository.CategoryMapper">
    <!-- 카테고리 생성 -->
    <insert id="insertCategory" parameterType="com.infected_requiem.requiem.dto.log.CategoryDTO" useGeneratedKeys="true" keyProperty="tagId">
        INSERT INTO post_category_tbl (tag_name) VALUES (#{tagName})
    </insert>

    <!-- 카테고리 중복 검사 -->
    <select id="existsByName" parameterType="string" resultType="int">
        SELECT EXISTS( SELECT 1 FROM post_category_tbl WHERE tag_name = #{tagName} )
    </select>

    <!-- 카테고리 조회-->
    <select id="findAll" resultType="com.infected_requiem.requiem.dto.log.CategoryDTO">
        SELECT tag_id AS tagId, tag_name AS tagName
        FROM post_category_tbl
        ORDER BY tag_id ASC
    </select>

    <!-- 카테고리 존재 확인-->
    <select id="findIdByName" parameterType="string" resultType="int">
        SELECT tag_id FROM post_category_tbl WHERE tag_name = #{tagName}
    </select>

    <!-- 카테고리 삭제 -->
    <delete id="deleteByName" parameterType="string">
        <![CDATA[
            DELETE FROM post_category_tbl
            WHERE tag_name = #{tagName} AND tag_name <> '공지'
        ]]>
    </delete>
</mapper>